body {
    color: #292622;
    background-color: #cbbaab;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  #container {
    background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    display: block;
    margin: 5px auto;
    max-width: 600px;
    padding: 15px;
    box-shadow: 2px 2px 20px #bcaea2;
  }
  
  h1,
  .cityname {
    font-size: 24px;
    font-weight: 100;
    margin-top: 25px;
  }
  
  h3 {
    font-size: 12px;
    font-weight: 200;
  }
  
  #current-temp {
      font-size: 56px; 
   
  }
  .forecast-day {
    font-size: 18px;
  }
  
  .unit {
    font-size: 20px;
  }
  #search-field {
    color: #23201e;
    margin-left: 175px;
  }
  
  #submit-city {
    background-color: #bcaea2;
    font-size: 12px;
    border: 2px solid #bcaea2;
  }
  
  ::placeholder {
    color: #23201e;
    font-size: 12px;
  }
  
  .card,
  .card-body {
    font-size: 14px;
  
    background-color: transparent;
    border: none;
  }
  
  ul,
  li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    
  }
  
  span {
    font-size: 50px;
  }
  
  .cf {
    font-size: 20px;
  }
  .dateandtime {
    font-size: 16px;
    font-family: serif;
    font-weight: bold;
  }
  
  a,
  a:hover {
    text-decoration: none;
    color: black;
  }
  .currenticon {
    margin-top: 35px;
    margin-left: 20px;
    font-size: 84px;
  }
  
  .label {
    font-size: 14px;
    font-weight: bold;
  }
  
  #humidity,
  #wind,
  #high,
  #low {
    font-size: 16px;
  }
  
  footer {
    font-size: 14px;
    color: #202020;
    font-family: serif;
    text-align: center;
  }

  .footerlink {
    font-weight: bold;
  }